.comp-paciente {
  padding-top: 15px;
  margin-top: 10px;
}

.comp-paciente * {
  margin: 0px 0px 5px 0px;
}

.contenedor_muestras {
  overflow-y: scroll;
}

.contenedor_descriptivos {
  overflow-y: scroll;
}

.contenedor_sesion_completo {
  display: inline;
}

.columna_paciente{
  display: none;
}

.form-paciente * {
  margin: 0px 0px 5px 0px;
}

.form-paciente {
  padding-top: 10px;
}

.form-paciente * {
  margin: 0px 0px 5px 0px;
}

.form-paciente {
  padding-top: 15px;
  margin-top: 10px;
}

.list-group-tumores {
  list-style: decimal inside;
}

.list-group-item-tumor {
  display: list-item;
}

@media screen and (max-width: 600px) {

  #contenedor_lista{
    order: 2;
  }
}

@media screen and (max-width: 450px) {

  .group-icons{
    order:1;
  }

  .group-icons .col{
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  #contenedor_lista{
    order: 2;
  }
}