    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="section-head text-center space30">
                    <h2 class="mbr-section-title pb-5 mbr-fonts-style display-2">
                        Ayuda
                    </h2>
                </div>
                <div class="clearfix"></div>
                <div id="bootstrap-accordion_475" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed text-black" data-toggle="collapse" data-parent="#bootstrap-accordion_475" data-core="" href="#collapse1_475" aria-expanded="false" aria-controls="collapse1">
                                <h4 class="mbr-fonts-style display-5">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>
                                    ¿Qué es HACHT?
                                </h4>
                            </a>
                        </div>
                        <div id="collapse1_475" class="panel-collapse noScroll collapse " role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                   HACHT es una aplicación web con un "companion" para Android que ayuda a los usuarios médicos e investigadores a generar predicciones sobre el tipo de tumor presente en una muestra de tejido o histología.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-parent="#bootstrap-accordion_475" data-core="" href="#collapse2_475" aria-expanded="false" aria-controls="collapse2">
                                <h4 class="mbr-fonts-style display-5">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span> ¿Cuál es el objetivo de HACHT?
                               </h4>
                            </a>
                            
                        </div>
                        <div id="collapse2_475" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                   Diseñamos esta aplicación con el objetivo de tener una prueba de concepto de una posible aplicación bio-médica de la Inteligencia Artificial; mostrando que podría ser una herramienta de utilidad para darle una ayuda diferente al profesional médico en el proceso de diagnóstico.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a role="button" class="collapsed text-black panel-title" data-toggle="collapse" data-parent="#bootstrap-accordion_475" data-core="" href="#collapse3_475" aria-expanded="false" aria-controls="collapse3">
                                <h4 class="mbr-fonts-style display-5">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span> Quiero probar la aplicación, pero no quiero registrarme ¿Puedo hacerlo?
                                </h4>
                            </a>
                        </div>
                        <div id="collapse3_475" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                    Por razones de control de uso, en específico para prohibir el uso en ambientes no controlados y donde pueda haber algún tipo de lucro; prohíbimos el uso de la aplicación sin registro previo. Para mostrar las posibilidades de la aplicación, ofrecemos una sección de "Demo" donde le permitimos libremente probar la utilidad de la aplicación con 2 imágenes por clase de tumor, estas imágenes han sido seleccionadas aleatoriamente del conjunto de validación; es decir, el modelo no se entrenó con estas imágenes.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a role="button" class="collapsed text-black panel-title" data-toggle="collapse" data-parent="#bootstrap-accordion_475" data-core="" href="#collapse3_475" aria-expanded="false" aria-controls="collapse3">
                                <h4 class="mbr-fonts-style display-5">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive">¿Hay un trabajo previo en el que se basa HACHT?</span> 
                                </h4>
                            </a>
                        </div>
                        <div id="collapse3_475" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                    Si, nos basamos en la investigación realizada por el ingeniero en computación Iván Calvo, egresado del Tecnológico de Costa Rica; en el contexto de su trabajo de graduación. Esta investigación se realizó en conjunto con los investigadores Saul Calderón también del Tecnológico, así como Jordina Torrents-Barrena y Dominic Puig de la Universidad Rovira i Virgili de España.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>