{% load static%}
                    <!-- Start: Descriptivo-Sesion-Completo -->
                    <div class="text-dark border-primary shadow-lg comp-paciente bg-light" style="background-color: rgba(255,255,255,0.09);min-height: 225px;max-height: 225px;">
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">Fecha</span></div>{{ form.fecha }}
                                    <div class="input-group-append"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">Estado</span></div>{{ form.estado }}
                                    <div class="input-group-append"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" style="max-height: 62px;min-height: 62px;height: 62px;">Observación</span></div>{{ form.observacion }}
                                    <div class="input-group-append"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End: Descriptivo-Sesion-Completo -->