<!-- Start: Descriptivo-Paciente-Anonimo -->
                    <div class="text-dark border-primary shadow-lg comp-paciente bg-light" style="background-color: rgba(255,255,255,0.09);min-height: 130px;max-height: 130px;max-width: 100%;min-width: 100%;">
                        <div class="row">
                            <div class="col" style="min-width: 50%;min-height: 40px;max-height: 40px;"><span style="padding-left: 0%;margin-left: 0%;max-width: 10px;min-width: 10px;"><img src="{% static 'index/assets/img/privacy_mask-512.png' %}" style="max-height: 44px;max-width: 44px;min-width: 32px;min-height: 32px;margin-bottom: 0px;padding-left: 5px;padding-right: 10px;"><span>Paciente Anónimo</span></span>
                            </div>
                            <div class="col text-center" style="max-width: 100px;min-width: 100px;width: 100px;"><a href="#" style="margin-top: 0px;padding-top: 0px;"><i class="fas fa-pen"></i><span style="margin-left: 5px;">Editar</span></a></div>
                            <div class="col text-center" style="max-width: 122px;min-width: 122px;width: 122px;"><a href="#" style="margin-left: 5px;"><i class="fas fa-trash"></i><span style="margin-left: 5px;">Eliminar</span></a></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">Identificador</span></div><input class="form-control" type="text">
                                    <div class="input-group-append"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End: Descriptivo-Paciente-Anonimo -->