<!-- Start: Descriptivo-Paciente-Compacto -->
                    <div class="text-dark border-primary shadow-lg comp-paciente bg-light" id="descriptivo_paciente_1" style="background-color: rgba(255,255,255,0.09);min-height: 130px;max-height: 130px;">
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text titulo-descriptivo">{{ paciente.ced }}</span></div><input class="form-control" type="text">
                                    <div class="input-group-append"></div>
                                </div>
                            </div>
                            <div class="col text-center" style="max-width: 100px;min-width: 100px;width: 100px;"><a href="#" style="margin-top: 0px;padding-top: 0px;"><i class="fas fa-pen"></i><span style="margin-left: 5px;">Editar</span></a></div>
                            <div class="col text-center" style="max-width: 122px;min-width: 122px;width: 122px;"><a href="#" style="margin-left: 5px;"><i class="fas fa-trash"></i><span style="margin-left: 5px;">Eliminar</span></a></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text titulo-descriptivo">{{ paciente.nombre }}</span></div><input class="form-control" type="text">
                                    <div class="input-group-append"></div>
                                </div>
                            </div>
                            <div class="col text-center" style="max-width: 200px;min-width: 200px;width: 100px;"><a href="{% url 'dashboard_sesiones' %}" style="margin-top: 0px;padding-top: 0px;"><i class="fas fa-pen"></i><span style="margin-left: 5px;">Ver Sesiones</span></a></div>
                        </div>
                    </div>
                    <!-- End: Descriptivo-Paciente-Compacto -->