{% if datos_muestras %}

    <!-- Start: Graficos-Paciente -->
    <div class="shadow-lg comp-paciente bg-light" style="max-width: 100%;max-height: 100%;">
        <div class="row">
            <div class="col" style="max-width: 50%;"><span class="text-left list-group-item">Clase de Tumor con más probabilidad.</span>
                <ol id="li" class="list-group list-group-tumores">
                    {% for resumen_tumor in datos_muestras %}
                        <li class="list-group-item list-group-item-tumor">{{ resumen_tumor.pred }}</li>
                    {% endfor %}
                </ol>
            </div>
            <div class="col text-center" style="max-width: 50%;">
                <div class="text-center"><span class="text-center" style="min-width: 100%;">Visualización de Probabilidades</span></div>
                <canvas id="canvas_dona" height="500" width="400"></canvas>
        </div>

        <div class="row text-center" style="width: 100%; margin-top: 5px;">
            <div class="col text-center"><span style="min-width: 100%;width: 100%;">Línea del Tiempo</span></div>
        </div>
        
        <div class="row text-center" style="margin-top: 5px; width: 100%;">
            <div class="col" style="width: 100%;">
                <canvas id="canvas_timeline" style="width: 100%;"></canvas>
            </div>
        </div>
    </div>
    <!-- End: Graficos-Paciente -->

    <script>
        data_pie = {{ data_pie|safe }}
        data_line = {{ data_line|safe }}
        inicializar_graficos(data_pie, data_line)
    </script>

{% endif %}