{% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Prototipo Histopatologías</title>
    <link rel="stylesheet" href="{% static 'index/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'index/assets/css/styles.min.css' %}">
</head>

<body>
    
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="{% url 'index' %}" style="color: rgb(0,123,255);">HACHT</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'dashboard_pacientes' %}"><img src="{% static 'index/assets/img/icons8-home-50.png' %}"><span style="margin-left: 5px;color: rgba(0,0,0,0.5);">Inicio</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href=""><img src="{% static 'index/assets/img/icons8-help-50.png' %}"><span style="margin-left: 5px;color: rgba(0,0,0,0.5);">AYUDA</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout' %}" style="margin-left: 5px;color: rgba(0,0,0,0.5);"><img src="{% static 'index/assets/img/icons8-logout-rounded-left-50.png' %}"><span style="margin-left: 5px;color: rgba(0,0,0,0.5);">SALIR</span></a></li>
                </ul>
        </div>
        </div>
    </nav>
    <section style="margin-top: 12%;">

        <div>
            {% if user.is_authenticated %}
                <div>Hi {{ user.username }}!</div>
            {% else %}
                <p>You are not logged in</p>
                <a href="{% url 'login' %}">login</a>
            {% endif %}
        </div>

        <div class="container">
            <div class="text-center" style="padding-bottom: 20px;"><span style="font-size: 28px;color: rgb(0,123,255);">Tablero de Pacientes</span></div>
            <div class="row">
                <!-- Start: Lista-Pacientes -->
                <div class="col-md-6 flex-grow-1" style="max-width: 100%;">
                    <div class="row text-center" style="padding-bottom: 10px;">
                        <div class="col" style="padding-left: 0%;padding-right: 0px;width: 50%;min-width: 50%;max-width: 50%;"><a href="#"><img src="{% static 'index/assets/img/icons8-plus-50.png' %}"><span style="margin-left: 5px;color: rgb(0,0,0);">Agregar Paciente</span></a></div>
                        <div class="col" style="padding-left: 5px;"><a href="#"><img src="{% static 'index/assets/img/icons8-trash-can-50.png' %}"><span style="margin-left: 5px;color: rgb(0,0,0);">Eliminar Pacientes</span></a></div>
                    </div>

                    <!-- Start: Aca va la lista de componentes -->
                    <div id='contenedor de componentes'>
                        
                    </div>
                    <!-- End: Aca va la lista de componentes -->
                    
                </div>
                <!-- End: Lista-Pacientes -->
                <!-- Start: Contenedor-Paciente -->
                <div class="col-md-6 contenedor_paciente">
                    <!-- Start: Descriptivo-Paciente -->
                    <div class="text-dark border-primary shadow-lg comp-paciente bg-light" style="background-color: rgba(255,255,255,0.09);min-height: 250px;max-height: 250px;">
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">Expediente</span></div><input class="form-control" type="text">
                                    <div class="input-group-append"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">Nombre</span></div><input class="form-control" type="text">
                                    <div class="input-group-append"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">Lugar de Residencia</span></div><input class="form-control" type="text">
                                    <div class="input-group-append"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">Edad</span></div><input class="form-control" type="text">
                                    <div class="input-group-append"></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">Sexo</span></div><input class="form-control" type="text">
                                    <div class="input-group-append"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End: Descriptivo-Paciente -->
                    <!-- Start: Graficos-Paciente -->
                    <div class="shadow-lg comp-paciente bg-light" style="max-width: 100%;max-height: 100%;">
                        <div class="row">
                            <div class="col" style="max-width: 50%;"><span class="text-left list-group-item">Clase de Tumor con más probabilidad.</span>
                                <ol id="li" class="list-group list-group-tumores">
                                    <li class="list-group-item list-group-item-tumor">Tumor-Benigno 1</li>
                                    <li class="list-group-item list-group-item-tumor">Tumor-Benigno 2<br></li>
                                    <li class="list-group-item list-group-item-tumor">Tumor-Maligno 1<br></li>
                                    <li class="list-group-item list-group-item-tumor">Tumor-Benigno 3<br></li>
                                </ol>
                            </div>
                            <div class="col text-center" style="max-width: 50%;">
                                <div class="text-center"><span class="text-center" style="min-width: 100%;">Visualización de Probabilidades</span></div><img src="{% static 'index/assets/img/Grafico-Dona.png' %}" style="min-width: 50%;max-width: 100%;"></div>
                        </div>
                        <div class="row">
                            <div class="col text-center" style="min-width: 100%;"><span style="min-width: 100%;width: 100%;">Línea del Tiempo</span></div>
                        </div>
                        <div class="row" style="max-width: 100%;">
                            <div class="col"><img src="{% static 'index/assets/img/Grafico-Timeline.png' %}" style="min-width: 75%;max-width: 100%;"></div>
                        </div>
                    </div>
                    <!-- End: Graficos-Paciente -->
                </div>
                <!-- End: Contenedor-Paciente -->
            </div>
        </div>
    </section>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Comenzar</h5>
                    <ul>
                        <li><a href="{% url 'index' %}">Inicio</a></li>
                        <li><a href="{% url 'login' %}">Ingresar</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Acerca de nosotros</h5>
                    <ul>
                        <li><a href="#">Information</a></li>
                        <li><a href="{% url 'contact_us' %}">Contacto</a></li>
                        <li><a href="#">Reseñas</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Soporte</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Ayuda</a></li>
                        <li><a href="#">Foros</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Términos de servicio</a></li>
                        <li><a href="#">Términos de uso</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p></p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'index/assets/js/script.min.js' %}"></script>
</body>

</html>