{% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Prototipo Histopatologías</title>
    <link rel="stylesheet" href="{% static 'index/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'index/assets/css/styles.min.css' %}">
</head>

<body style="max-height: 1000px;height: 1000px;">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#" style="color: rgb(0,123,255);">HACHT</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'dashboard_pacientes' %}"><img src="{% static 'index/assets/img/icons8-home-50.png' %}"><span style="margin-left: 5px;color: rgba(0,0,0,0.5);">Inicio</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href=""><img src="{% static 'index/assets/img/icons8-help-50.png' %}"><span style="margin-left: 5px;color: rgba(0,0,0,0.5);">AYUDA</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'index' %}" style="margin-left: 5px;color: rgba(0,0,0,0.5);"><img src="{% static 'index/assets/img/icons8-logout-rounded-left-50.png' %}"><span style="margin-left: 5px;color: rgba(0,0,0,0.5);">SALIR</span></a></li>
                </ul>
        </div>
        </div>
    </nav>
    <section style="margin-top: 12%;max-width: 100%;min-width: 100%;width: 100%;max-height: auto;min-height: 300px;height: auto;">
        
        <div class="text-center" style="padding-bottom: 15px;"><span class="text-center" style="color: rgb(0,123,255);font-size: 28px;">Tablero de Sesiones</span></div>
        
        <div class="container">
            <!-- Botones de agregar y borrar -->
            <div class="row text-center" style="padding-bottom: 10px;">
                <div class="col" style="padding-left: 0%;padding-right: 0px;width: 50%;min-width: 50%;max-width: 50%;"><a onclick="agregar_sesion('{{ paciente.id }}')" href="#"><img src="{% static 'index/assets/img/icons8-plus-50.png' %}"><span style="margin-left: 5px;color: rgb(0,0,0);">Agregar Sesión</span></a></div>
                <div class="col" style="padding-left: 0px;"><a href="#"><img src="{% static 'index/assets/img/icons8-trash-can-50.png' %}"><span style="margin-left: 5px;color: rgb(0,0,0);">Eliminar Sesión</span></a></div>
            </div>
        </div>
        
        <div class="container-fluid d-flex" style="max-width: 100%;min-width: 100%;width: 100%;max-height: auto;height: auto;min-height: 300px;">

            <div class="row d-flex" style="max-width: 100%;min-width: 100%;width: 100%;max-height: auto;min-height: 300px;height: 100%;">
                
                <div class="col-md-6 flex-grow-1" id="contenedor_descriptivos" style="max-width: 100%;min-width: 450px;max-height: 1000px;width: 100%;">
                    
                    <!-- Start: Contenedor-Listas -->
                    <div id="contenedor_sesiones">

                        {% for sesion in sesiones %}

                            <!-- Start: Descriptivo-Sesion-Compacto -->
                            <div id="descriptivo_sesion_{{ sesion.id }}" class="text-dark border-primary comp-paciente shadow-lg bg-light" ondblclick="sesion_onclick('{{ paciente.id }}', '{{ sesion.id }}')" style="background-color: rgba(255,255,255,0.09);min-height: 130px;max-height: 130px;">
                                
                                <div class="row">
                                    <div class="col" style="min-width: auto;max-width: auto;width: auto;">
                                        <div class="input-group" style="max-width: 100%;">
                                            <div class="input-group-prepend"><span class="input-group-text titulo-descriptivo">Fecha</span></div><input class="form-control" type="text" value="{{ sesion.date }}">
                                            <div class="input-group-append"></div>
                                        </div>
                                    </div>
                                    <div class="col text-center" style="max-width: 100px;min-width: 100px;width: 100px;"><a href="#" style="margin-top: 0px;padding-top: 0px;"><i class="fas fa-pen"></i><span style="margin-left: 5px;">Editar</span></a></div>
                                    <div class="col text-center" style="max-width: 122px;min-width: 122px;width: 122px;"><a href="#" onclick="eliminar_onclick(event, '{{ paciente.id }}', '{{ sesion.id }}')" style="margin-left: 5px;"><i class="fas fa-trash"></i><span style="margin-left: 5px;">Eliminar</span></a></div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text titulo-descriptivo">Estado</span></div><input class="form-control" type="text" value="{{ sesion.estado }}">
                                            <div class="input-group-append"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- End: Descriptivo-Sesion-Compacto -->

                        {% endfor %}
                    </div>

                </div>
                <!-- End: Contenedor-Listas -->
                
                <!-- Start: Contenedor-Sesion -->
                <div class="col-md-6" id="contenedor_sesion_completo" style="max-width: 100%;min-width: 450px;max-height: none;min-height: auto;width: 450px;">
                    
                    <div id="cont_sesion">
                        
                    </div>

                    <div id="cont_muestras_sesion">

                    </div>

                    <div id="cont_analytics_sesion">
                    
                    </div>

                
                </div>
                <!-- End: Contenedor-Sesion -->

            </div>
           
        </div>
    </section>


    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Comenzar</h5>
                    <ul>
                        <li><a href="{% url 'index' %}">Inicio</a></li>
                        <li><a href="{% url 'login' %}">Ingresar</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Acerca de nosotros</h5>
                    <ul>
                        <li><a href="#">Information</a></li>
                        <li><a href="{% url 'contact_us' %}">Contacto</a></li>
                        <li><a href="#">Reseñas</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Soporte</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Ayuda</a></li>
                        <li><a href="#">Foros</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Términos de servicio</a></li>
                        <li><a href="#">Términos de uso</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p></p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'index/assets/js/script.min.js' %}"></script>
    <script src="{% static 'index/assets/js/scripts_sesiones.js' %}"></script>

</body>

</html>