{% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Prototipo Histopatologías</title>
    <link rel="stylesheet" href="{% static 'index/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'index/assets/css/styles.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/assets/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'index/assets/css/Sesiones.css' %}">
</head>

<body>

    {% include "index/header.html" %}

    <main class="page">
        <section style="margin-top: 2%;max-width: 100%;min-width: 100%;width: 100%;max-height: auto;min-height: 300px;height: auto;">
            
            <div class="container">
                <div class="text-center" style="padding-bottom: 15px;"><span class="text-center" style="color: rgb(0,123,255);font-size: 28px;">Tablero de Sesiones</span></div>
                {% if paciente %}
                <div class="text-center" >
                    <a onclick="agregar_sesion('{{ paciente.id }}')" href="#"><img src="{% static 'index/assets/img/icons8-plus-50.png' %}"><span style="margin-left: 5px;color: rgb(0,0,0);">Agregar Sesión</span></a>
                </div>
                {% else %}
                <div class="text-center">
                    <a onclick="agregar_sesion('')" href="#"><img src="{% static 'index/assets/img/icons8-plus-50.png' %}"><span style="margin-left: 5px;color: rgb(0,0,0);">Agregar Sesión</span></a>
                </div>
                {% endif %}
            </div>

            <div class="container-fluid">

                <div class="row">
                    
                    <div class="col-md-6 flex-grow-1" id="contenedor_descriptivos" style="max-width: 100%;">
                        
                        <!-- Start: Contenedor-Listas -->
                        <div id="contenedor_sesiones">

                            {% for sesion in sesiones %}

                                <!-- Start: Descriptivo-Sesion-Compacto -->
                                {% if paciente %}
                                <div id="descriptivo_sesion_{{ sesion.id }}" class="text-dark border-primary comp-paciente shadow-lg bg-light" ondblclick="sesion_onclick('{{ paciente.id }}', '{{ sesion.id }}')" style="background-color: rgba(255,255,255,0.09);min-height: 130px;max-height: 130px;">
                                {% else %}
                                <div id="descriptivo_sesion_{{ sesion.id }}" class="text-dark border-primary comp-paciente shadow-lg bg-light" ondblclick="sesion_onclick('', '{{ sesion.id }}')" style="background-color: rgba(255,255,255,0.09);min-height: 130px;max-height: 130px;">
                                {% endif %}

                                    <div class="row">

                                        <div class="col group-icons" style="min-width: auto;max-width: auto;width: auto;">
                                            <div class="input-group" style="max-width: 100%;">
                                                <div class="input-group-prepend"><span class="input-group-text titulo-descriptivo">Fecha</span></div><input class="form-control" type="text" value="{{ sesion.date }}">
                                                <div class="input-group-append"></div>
                                            </div>
                                        </div>

                                        {% if paciente %}
                                        <div class="col text-center" style="max-width: 122px;min-width: 122px;width: 122px;"><a href="#" onclick="eliminar_onclick(event, '{{ paciente.id }}', '{{ sesion.id }}')" style="margin-left: 5px;"><i class="fas fa-trash"></i><span style="margin-left: 5px;">Eliminar</span></a></div>
                                        <div class="col text-center" style="max-width: 100px;min-width: 100px;width: 100px;"><a href="#" onclick="sesion_onclick('{{ paciente.id }}', '{{ sesion.id }}')" style="margin-top: 0px;padding-top: 0px;"><i class="fas fa-pen"></i><span style="margin-left: 5px;">Editar</span></a></div>
                                        
                                        {% else %}
                                        <div class="col text-center" style="max-width: 122px;min-width: 122px;width: 122px;"><a href="#" onclick="eliminar_onclick(event, '', '{{ sesion.id }}')" style="margin-left: 5px;"><i class="fas fa-trash"></i><span style="margin-left: 5px;">Eliminar</span></a></div>
                                        <div class="col text-center" style="max-width: 100px;min-width: 100px;width: 100px;"><a href="#" onclick="sesion_onclick('', '{{ sesion.id }}')" style="margin-top: 0px;padding-top: 0px;"><i class="fas fa-pen"></i><span style="margin-left: 5px;">Editar</span></a></div>
                                        
                                        {% endif %}
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text titulo-descriptivo">Estado</span></div><input class="form-control" type="text" value="{{ sesion.estado }}">
                                                <div class="input-group-append"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- End: Descriptivo-Sesion-Compacto -->

                            {% endfor %}
                        </div>

                    </div>
                    <!-- End: Contenedor-Listas -->
                    
                    <!-- Start: Contenedor-Sesion -->
                    <div class="col-md-6" id="contenedor_sesion_completo" style="display: none;">
                        
                        <div id="cont_sesion">
                            
                        </div>

                        <div id="cont_muestras_sesion" style="height: 400px">

                        </div>

                        <div id="cont_analytics_sesion">
                        
                        </div>

                    
                    </div>
                    <!-- End: Contenedor-Sesion -->

                </div>
            
            </div>
        </section>
    </main>

    {% include "index/footer.html" %}  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="{% static 'index/assets/js/script.min.js' %}"></script>
    <script src="{% static 'index/assets/js/scripts_sesiones.js' %}"></script>
    <script src="{% static 'index/assets/js/header.js' %}"></script>

</body>

</html>