<!DOCTYPE html>
{% load static%}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Prototipo Histopatologías</title>
    <link rel="stylesheet" href="{% static 'index/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{% static 'index/assets/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/assets/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'index/assets/css/smoothproducts.css' %}">
    <link rel="stylesheet" href="{% static 'index/assets/css/untitled.css' %}">
</head>

<body style="background-color: rgb(246,246,246);">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="{% url 'index' %}" style="color: rgb(59,153,224);font-size: 30px;">HACHT</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'index' %}">INICIO</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'demo' %}">Demo</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'features' %}" style="color: rgba(0,0,0,0.9);">características</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'contact_us' %}" style="color: rgba(0,0,0,0.9);">Contacto</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'registration' %}" style="color: rgba(0,0,0,0.9);">Registrarse</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'login' %}" style="color: rgba(0,0,0,0.9);">Ingresar</a></li>
                </ul>
        </div>
        </div>
    </nav><div style="margin-top: 10%; margin-left: 15%;">
<form action="{% url 'demo' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
  Subir imagen:<br>
  <input type="file" name="upload">
  <br>
  <br>
  <button type="submit" class="btn btn-primary btn-block" style="width: 10%">Analizar</button>
  <p>Imagen seleccionada:</p>
  <img onerror="this.style.display='none'" src= "{{url}}" style="margin-left: 0;margin-top: 0%; width:300px;height:200px;">
  <br>
  <br>
  <p>Estimación:{{result}}</p>
  <br>
</form> 
</div>
<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <img src="{% static '/index/assets/img/Demo_imgs/100x/SOB_B_A-14-22549AB-100-002_0.png' %}" style="width:50%">
    <img src="{% static '/index/assets/img/Demo_imgs/100x/SOB_B_A-14-22549AB-100-002_0.png' %}" style="width:50%">
    <img src="{% static '/index/assets/img/Demo_imgs/100x/SOB_B_A-14-22549AB-100-002_0.png' %}" style="width:50%">
    <img src="{% static '/index/assets/img/Demo_imgs/100x/SOB_B_A-14-22549AB-100-002_0.png' %}" style="width:50%">
    <img src="{% static '/index/assets/img/Demo_imgs/100x/SOB_B_A-14-22549AB-100-002_0.png' %}" style="width:50%">
    <img src="{% static '/index/assets/img/Demo_imgs/100x/SOB_B_A-14-22549AB-100-002_0.png' %}" style="width:50%">
    <img src="{% static '/index/assets/img/Demo_imgs/100x/SOB_B_A-14-22549AB-100-002_0.png' %}" style="width:50%">
  </div>
</div>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Comenzar</h5>
                    <ul>
                        <li><a href="{% url 'index' %}">Inicio</a></li>
                        <li><a href="{% url 'login' %}">Ingresar</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Acerca de nosotros</h5>
                    <ul>
                        <li><a href="#">Information</a></li>
                        <li><a href="{% url 'contact_us' %}">Contacto</a></li>
                        <li><a href="#">Reseñas</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Soporte</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Ayuda</a></li>
                        <li><a href="#">Foros</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Términos de servicio</a></li>
                        <li><a href="#">Términos de uso</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p></p>
        </div>
    </footer>
    <script src="{% static 'index/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'index/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'index/assets/js/smoothproducts.min.js' %}"></script>
    <script src="{% static 'index/assets/js/theme.js' %}"></script>
</body>

</html>