{% if request.user.is_authenticated %}

<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container">
        <a class="navbar-brand logo" href="{% url 'index' %}" style="color: rgb(0,123,255);">HACHT</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <span style="font-size: 12px; padding-top: 5px">{{ user.username }}</span>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul id="header_nav_elem" class="nav navbar-nav ml-auto">

                {% if request.user.profile.rol == '0' %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="{% url 'dashboard_pacientes' %}"><span style="margin-left: 5px">Mis pacientes</span></a>
                </li>
                {% else %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="{% url 'dashboard_sesiones' %}"><span style="margin-left: 5px">Mis Sesiones</span></a>
                </li>
                {% endif %}

                <li class="nav-item" role="presentation"> <a class="nav-link" href="{% url 'help' %}"> <span style="margin-left: 5px">AYUDA</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'demo' %}">Demo</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'contact_us' %}">Contactenos</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'about_us' %}">Sobre Nosotros</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout' %}" style="margin-left: 5px"><span style="margin-left: 5px">CERRAR</span></a></li>
            </ul>
        </div>
    </div>
</nav>


{% else %}
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="{% url 'index' %}" style="color: rgb(59,153,224);font-size: 30px;">HACHT</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul id="header_nav_elem" class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"> <a class="nav-link" href="{% url 'help' %}"> <span style="margin-left: 5px">AYUDA</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'demo' %}">Demo</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'contact_us' %}">Contactenos</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'about_us' %}">Sobre Nosotros</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'registration' %}">Registrarse</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'login' %}">Ingresar</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endif %}
