{% load static %}
<!DOCTYPE html>
<html>

<head>
  {% if messages %}

      {% for message in messages %}

          <script> alert('{{ message.tags }} : {{ message }}');</script>
      {% endfor %}

  {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - Brand</title>
    <link rel="stylesheet" href="{% static 'index/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{% static 'index/assets/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/assets/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'index/assets/css/smoothproducts.css' %}">
    <link rel="stylesheet" href="{% static 'index/assets/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'index/assets/css/modal.css' %}">
</head>

<body>

    {% include "index/header.html" %}

    <main class="page registration-page">

        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading" style="height: 324px;">
                    <h2 class="text-info">Registro</h2>
                    <p>Al registrarse, es muy importante que seleccione el rol que desempeñará al dar uso a esta herramienta, el cual se divide en MÉDICO o INVESTIGADOR.</p>
                    <p style="padding: 1px;"><br>Es importante que agregue el nombre o el sitio web de la organización a la que pertenece y opcionalmente una pequeña descripción del uso que tiene en mente para la herramienta.</p>

                </div>
                <form style="height: 803px;" method='POST' action="{% url 'registration' %}">

                    {% csrf_token %}
                    <div class="form-group"><label for="name">Nombre</label><label for="name" style="color: rgb(255,0,0);">*</label> {{ form.nombre }} </div>
                    <div class="form-group"><label for="email">Email</label><label for="email" style="color: rgb(255,0,0);">*</label>{{ form.correo }}</div>
                    <div class="form-group"><label for="password">Contraseña</label><label for="password" style="color: rgb(255,0,0);">*</label> {{ form.password }} </div><label>Rol</label><label style="color: rgb(255,0,0);">*</label>
                    <div class="dropdown" style="height: 49px;"> {{ form.rol }} </div>
                    <div class="form-group"><label for="name" style="height: 20px;">Organización</label><label for="name" style="height: 20px;color: rgb(255,0,0);">*</label> {{ form.org }} </div>
                    <div class="form-group"><label for="name">¿Qué uso dará a la herramienta?</label> {{ form.uso }}</div>
                    <button  class="btn btn-primary btn-block" type='submit'>Completar Registro</button>
                    <label style="height: 55px;width: 201px;font-size: 12px;color: rgb(255,0,0);"><br>*campos obligatorios</label></form>
                </form>
            </div>
        </section>
    </main>

    {% if request.user.is_authenticated %}
        {% include "index/components/comp_registration_success.html" %}
    {% endif %}

    {% include "index/footer.html" %}

    <script src="{% static 'index/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'index/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'index/assets/js/smoothproducts.min.js' %}"></script>
    <script src="{% static 'index/assets/js/theme.js' %}"></script>
    <script src="{% static 'index/assets/js/header.js' %}"></script>
</body>

</html>
