{% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Testimonials - Brand</title>
    <link rel="stylesheet" href="{% static 'index/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{% static 'index/assets/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/assets/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'index/assets/css/smoothproducts.css' %}">
    <link rel="stylesheet" href="{% static 'index/assets/css/untitled.css' %}">
    <link rel="stylesheet" href="{% static 'index/assets/css/Footer-Dark.css' %}">
</head>

<body>
    {% include "index/header.html" %}

    <main class="page testimonials">
        <section class="clean-block clean-testimonials dark">
            <div class="container">
                <div class="block-heading"><img src="{% static 'index/assets/img/icons8-tick-box-96.png' %}">
                    <h2 class="text-info" style="color: rgb(38,153,35);">Éxito al registrarse</h2>
                    <p style="color: rgb(33,41,37);">¡Gracias por unirse a nuestra herramienta!<br><br>Se ha enviado un correo a la dirección que ha ingresado con información que le puede ser útil.</p>
                </div>
                <div class="block-heading"><a href="{% url 'index' %}">
<button class="btn btn-primary" type="button">Continuar a la herramienta</button>
</a></div>
            </div>
        </section>
    </main>

    {% include "index/footer.html" %}

    <script src="{% static 'index/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'index/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'index/assets/js/smoothproducts.min.js' %}"></script>
    <script src="{% static 'index/assets/js/theme.js' %}"></script>
    <script src="{% static 'index/assets/js/header.js' %}"></script>
</body>

</html>
